{% extends 'base_profil.html' %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profil/style.css' %}">
{% block title %}
<title>Profil</title>
{% endblock title %}

{% block content %}

<h1 class="text-truncate">Profil korisnika: {{ user.username }}</h1>
<h1>Status: Recezent</h1>
<a href="{% url 'ankete:ankete' %}">Ankete</a>
<a href="{% url 'radovi:lista_radova_profil' %}">Radovi</a>
<!-- SEARCH!!! -->


<p>Ovde stoje obavestenja od strane Admina, koja nisu poslata na email</p>




<!-- U PROFILU DA IZBACI OBAVESTENJA -->
<button class="btn btn-info btn-block" onclick="toggler('obavestenja_table');name_toggler('btn_obavestenja')"
    id="btn_obavestenja">Sakrij obavestenja</button>
<br><br>
<div id="obavestenja_table">
    <form action="{% url 'profil:search' %}" class="form-inline" method="get">
        <div class="form-group mb-8">
            <h2>{% if type %}{{ type.name }}{% else %} Pretrazi obavestenja {% endif %}</h2>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="" class="sr-only">search</label>
            <input name="search" type="" class="form-control" id="" placeholder="Kljucna rec">
        </div>
        <button type="submit" class="btn btn-success btn-md mb-2">Search</button>
    </form>
    <table class="table table-dark sortable">
        <!--sortable omogucava sort sa skripte na dnu-->
        
<thead>
    <tr>
        <th scope="col"></th>
        <th scope="col" style="max-width: 55px">Naslov</th>
        <th style="max-width: 65px;" scope="col">Sadrzaj</th>
        <th style="max-width: 65px;" scope="col">Datum</th>
        <th style="max-width: 55px; text-align: center;" scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for obavestenje in obavestenja reversed %}
    <tr>
        <th scope="row" style="max-width: 20px;">{{ forloop.counter }}</th>
        <td scope="row" class="text-truncate" style="max-width: 55px"><a href="{% url 'profil:obavestenje_detaljno' pk=obavestenje.obavestenje.id %}">{{ obavestenje.obavestenje.naslov }}</a></td>
        <td data-bind="text: text()" class="text-truncate" style="max-width: 55px">{{ obavestenje.obavestenje.tekst }}</td>
        <td class="text-truncate" style="max-width: 85px">{{ obavestenje.obavestenje.datum_vreme_kreiranja }}</td>
        <td style="text-align: center;">
            <form action="{% url 'profil:obrisi_obavestenje' obavestenje.obavestenje.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Obrisi" class="btn btn-danger" style="padding: 2px;">
            </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
    </table>

    <hr>
    <p>Nesto slicno kao postovi na profilu na fb-u</p>

</div>
<button class="btn btn-info btn-block" onclick="toggler('user_table');name_toggler('btn_data')" id="btn_data">Prikazi
    profil</button>
<br>
<div id="user_table" style="display: none;">
    <table class="table table-bordered table-dark">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_table }}
                <!-- 
                   form.as_table 
                    {% for field in form %}
        <div class="mt-2">
            <label class="form-label">{{ field.label }}:</label>
            <div class="col">{{ field }}</div>
            
            <div class='text-danger'>
                {{ field.errors }}
            </div>
        </div>        
        {% endfor %} -->
    </table>

    <button class="btn btn-secondary mt-3 mb-3 ml-lg-2" type="submit">Sačuvaj izmene</button>
    <button class="btn btn-secondary mt-3 mb-3 ml-lg-2" type='reset'>Reset izmene</button>

    </form>

</div>
</div>
</div>
<!-- SKRIPTA JS ZA SAKRIVANJE -->
<script>
    window.onload = function () {
        document.getElementById('close').onclick = function () {
            this.parentNode.parentNode.parentNode
                .removeChild(this.parentNode.parentNode);
            return false;
        };
    };
    function toggler(divId) {
        $("#" + divId).toggle()
    };
    function name_toggler(divId) {
        if (document.getElementById(divId).innerText == 'Prikazi profil') {
            document.getElementById(divId).innerText = 'Sakrij profil';
        } else if (document.getElementById(divId).innerText == 'Sakrij profil') {
            document.getElementById(divId).innerText = 'Prikazi profil';

        } else if (document.getElementById(divId).innerText == 'Prikazi obavestenja') {
            document.getElementById(divId).innerText = 'Sakrij obavestenja';
        } else if (document.getElementById(divId).innerText == 'Sakrij obavestenja') {
            document.getElementById(divId).innerText = 'Prikazi obavestenja';
        }
    };
</script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock content %}
