{% extends 'base_profil.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profil/style.css' %}">
{% block title %}
<title>{% trans "Pretraga" %}</title>
{% endblock title %}

{% block content %}


<style>
    a h2 {
        font-weight: bold;
    }

    a h2:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>


<div class="container">
    <table class="table table-striped border sortable">
        <!--sortable omogucava sort sa skripte na dnu-->        
        
        
            {% if results %}
            <h2 class="mt-4">
                {% with results.count as total_results %}
                {% if results.count > 1 %}
                    {% blocktrans %}Nađeno {{ total_results }} rezultata{% endblocktrans %}!
                {% else %}
                    {% blocktrans %}Nađen {{ results.count }} rezultat{% endblocktrans %}!
                {% endif %}
                
                {% endwith %}
            </h2>
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" style="max-width: 155px; text-align: left;">{% trans "Naslov" %}</th>
                    <th style="text-align: center; max-width: 65px; " scope="col">{% trans "Sadržaj" %}</th>
                </tr>
            </thead>
            <tbody>

            {% for obavestenje in results %}
                <tr>
                    <th scope="row" style="max-width: 20px;">{{ forloop.counter }}</th>
                    <td scope="row" class="text" style="max-width: 155px"><a href="{% url 'profil:obavestenje_detaljno' pk=obavestenje.obavestenje.id %}">{{ obavestenje.obavestenje.naslov }}</a></td>
                    <td style="text-align: center;">
                        <span class="d-inline-block text" style="max-width: 450px;">{{obavestenje.obavestenje.tekst}}</span>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <h2 class="mt-4">{% trans "Nema nađenih rezultata" %}.</h2>
            {% endif %}

            </tbody>
    </table>

    <a class="btn btn-primary btn-lg mb-2" href="{% url 'profil:profil' %}">{% trans "Nazad" %}</a>


</div>

{% endblock content %}
