{% extends 'base_profil.html' %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profil/style.css' %}">
{% block title %}
<title>Search</title>
{% endblock title %}

{% block content %}
<style>
    a h3 {
        font-weight: bold;
    }

    a h3:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="col-md-12 offset-md-2">
        {% if query %}
        <h2 class="mt-4 mb-4">
            {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h2>

        {% for obavestenje in results %}

            <a href="{% url 'profil:obavestenje_detaljno' pk=obavestenje.obavestenje.id %}">
                <h3>{{ obavestenje.obavestenje.naslov }}</h3>
            </a>
            <span class="d-inline-block text-truncate mt-2 mb-2" style="max-width: 450px;">
                {{obavestenje.obavestenje.tekst}}
            </span>
            


        {% empty %}

            <h3>No results found.</h3>

        {% endfor %}

        {% endif %}
        <br>
        <a href="{% url 'profil:profil' %}" class="btn btn-primary mt-2 mb-2">Nazad</a>


    </div>

</div>

{% endblock content %}
