{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Kreiranje Programski Pitanja</title>
{% endblock %}

{% block content %}
<style>
    .admin-btn-green {
        background-color: var(--cta-color); /* Green */
        border: none;
        color: #fff;
        padding: 0.6rem 0.8rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
    .admin-btn-green:hover {
        background-color: var(--link-color); /* Dark Green */
        color: #fff;
    }

    .admin-btn-outline-lightgreen { 
        background-color: var(--background-color); 
        border: 1px solid var(--card-color);
        color: var(--primary-text);
        padding: 0.6rem 0.8rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
    .admin-btn-outline-lightgreen:hover {
        background-color: var(--card-color);
        color: var(--primary-text);
    }
</style>

<h1 class="mt-4">Kreiraj Pitanja</h1>
<h3 class="mt-3 mb-4">Pitanja za Programski poziv {{ programski_poziv }}</h3>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="admin-btn-green" type="submit">Snimi</button>
    <a href="{% url 'programski_pozivi:kreiraj_programski_poziv' %}" class="admin-btn-outline-lightgreen mt-3 ml-2">Nazad</a>
</form>

{% endblock %}
