{% extends 'base_profil.html' %}
{% load static %}
{% block title %}
<title>Naucni rad</title>
{% endblock %}

{% block content %}
<style>
  .table td, .table th {
        text-align: center;
    }
</style>

<a class="btn btn-outline-secondary" href="{% url 'radovi:lista_radova_profil' %}">Lista radova</a>
<h1>Naucni rad {{ rad.naziv }}</h1>

Oblasti su:
<br>
<hr>
{% for oblast in rad.oblasti.all %}
    {{ oblast.naziv }}
<hr>
{% endfor %}
Clanovi: {{ rad.clanovi }}
<br>
Kategorija: {{ rad.kategorija }}
<hr>

<form method="POST">
  {% csrf_token %}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Pitanja</th>
        <th>Odgovori (Ocena od 1 do 10)</th>
      </tr>
    </thead>
    <tbody>
    {% for pitanje, odgovor in pitanja_odgovori %}
      <tr>
        <td><strong>{{ pitanje.value }}</strong></td>
        <td>{{ odgovor }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p>Ukoliko Kliknete na "Sacuvaj odgovore" --> iste mozete kasnije da promenite</p>
  <p>
    Ukoliko Kliknete na "Sacuvaj i Zakljucaj odgovore" --> Vasi odgovori se salju na dalju obradu i nemate pravo vise da ih menjate
  </p>
  <button type="submit" name="sacuvaj" class="btn btn-secondary">Sacuvaj odgovore</button>
  <button type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#zakljucaj_odgovore">
        Sacuvaj i Zakljucaj odgovore
    </button>

<div class="modal fade" tabindex="-1" id="zakljucaj_odgovore">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zakljucaj odgovore?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Da li ste sigurni da zelite da zakljucate vase odgovre?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ponisti</button>
              <input type="submit" name="zakljucaj" value="Zakljucaj" class="btn btn-success">
      </div>
    </div>
  </div>
</div>
</form>

{% endblock %}
