{% extends 'base_profil.html' %}
{% load static %}
{% block title %}
<title>Naučni rad</title>
<script src="{% static 'radovi/js/naucni_rad_profil.js' %}" defer></script>
{% endblock %}

{% block content %}
<style>
  .profil-btn-yellow {
    background-color: var(--card-color);
    border: none;
    color: var(--accent-color);
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
  .profil-btn-yellow:hover {
    background-color: var(--dark-card-color);
    color: #fff;
}

  .profil-btn-orange {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
  .profil-btn-orange:hover {
    background-color: var(--dark-accent-color);
    color: #fff;
}

  .table td, .table th {
      text-align: center;
  }

  .naucni_rad_profil-table {
      width: 100%;
      border-top: 1px solid var(--cta-color);
      font-size: 1.2rem;
  }

  .naucni_rad_profil-table, th, td {
      padding: 15px;
      border-collapse: collapse;
  }

  .naucni_rad_profil-table td {
      font-weight: 400;
  }

  .naucni_rad_profil-table td > a:hover {
      color: #fff;
  }

  .naucni_rad_profil-table tr:nth-child(even){
      background-color: var(--background-shadow);
  }

  .naucni_rad_profil-table tr:hover {
      background-color: var(--link-color);
      transition: none !important;
      color: #fff;
  }

  hr {
    height: 3px !important;
    border:none !important;
    background-color: var(--card-color);
}
</style>

<h1 class="mt-4 mb-3">Naučni rad {{ rad.naziv }}</h1>
<a class="profil-btn-orange mb-3" href="{% url 'radovi:lista_radova_profil' %}">Lista radova</a>

<hr>

<table class="naucni_rad_profil-table mt-5 mb-5">
    <tr>
        <th>Naziv rada</th>
        <td>{{ rad.naziv }}</td>
    </tr>
    <tr>
        <th>Kategorija</th>
        <td>{{ rad.kategorija }}</td>
    </tr>
    <tr>
        <th>Oblasti</th>
        <td>
            {% for oblast in rad.oblasti.all %}
            {{ oblast.naziv }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Programski poziv</th>
        <td>{{ rad.programski_poziv }}</td>
    </tr>
    <tr>
        <th>Članovi</th>
        <td>{{ rad.clanovi }}</td>
    </tr>
    <tr>
        <th>Datum podnošenja rada</th>
        <td>{{ rad.datum_podnosenja }}</td>
    </tr>
    <tr>
        <th>Godina</th>
        <td>{{ rad.godina }}</td>
    </tr>
    <tr>
        <th>Opis rada</th>
        <td><a href="{{ rad.opis.url }}" target="_blank"><u>Opis rada</u></a></td>
    </tr>
    <tr>
        <th>Biografije članova</th>
        <td><a href="{{ rad.biografije.url }}" target="_blank"><u>Biografije članova</u></a></td>
    </tr>
</table>
<hr>
<button id="btn_prikazi_profil_pitanja" class="profil-btn-yellow mt-4 mb-5">Prikaži pitanja</button>
<button id="btn_sakrij_profil_pitanja" class="profil-btn-yellow mt-4 mb-4">Sakrij pitanja</button>
<form method="POST" id="profil_form_pitanja" >
  {% csrf_token %}
  <table class="table table-striped mb-4">
    <thead class="thead-dark">
      <tr>
        <th>Pitanja</th>
        <th>Odgovori (Ocena od 1 do 10)</th>
      </tr>
    </thead>
    <tbody>
    {% for pitanje, odgovor in pitanja_odgovori %}
      <tr>
        <td><strong>{{ pitanje.value }}</strong></td>
        <td>{{ odgovor }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr>
  <p>Ukoliko Kliknete na "Sačuvaj odgovore" --> iste možete kasnije da promenite.</p>
  <p>
    Ukoliko Kliknete na "Sačuvaj i Zaključaj odgovore" --> Vaši odgovori se šalju na dalju obradu i nemate pravo više da ih menjate!
  </p>
  <hr>
  <button type="submit" name="sacuvaj" class="profil-btn-orange mt-2 mr-2">Sačuvaj odgovore</button>
  <button type="button"
            class="profil-btn-yellow"
            data-toggle="modal"
            data-target="#zakljucaj_odgovore">
        Sačuvaj i Zaključaj odgovore
    </button>

<div class="modal fade" tabindex="-1" id="zakljucaj_odgovore">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zaključaj odgovore?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Da li ste sigurni da želite da zaključate vaše odgovre?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Poništi</button>
              <input type="submit" name="zakljucaj" value="Zaključaj" class="btn btn-success">
      </div>
    </div>
  </div>
</div>
</form>

{% endblock %}
