{% extends 'base.html' %}

{% block title %}
<title>Prosledjeni Radovi</title>
{% endblock %}

{% block content %}
<a href="{% url 'radovi:radovi_admin_home' %}" class="btn btn-outline-secondary">Radovi Home</a>
<h1>Prosledjeni Radovi</h1>
<hr>
<h4>Filter: Ime rada</h4>
<hr>
<form method="POST" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
        {% csrf_token %}
        <input
                onkeyup="imeRadaPretraga('{% url 'radovi:ime_rada_pretraga' %}');"
                type="text"
                class="form-control form-control-lg"
                id="ime_rada"
                name="ime_rada"
                placeholder="Upisi ime rada za pretragu">
    </div>
</form>
<div style="height:500px; overflow:scroll;">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Naziv rada</th>
            <th>Kategorija rada</th>
            <th>Korisnik - Ime</th>
            <th>Kada je poslat rad</th>
            <th>Recezent ocenio?</th>
            <th>Konacna ocena recenzenta</th>
            <th>Konacna odluka</th>
            <th>Oduzmi rad</th>
        </tr>
    </thead>
    <tbody id="tbody_ime_rada">
        {% include 'radovi/ime_rada_pretraga.html' with prosledjeni_radovi=prosledjeni_radovi %}

    </tbody>
</table>
</div>
<hr>
<hr>
<h4>Pretraga recenzija po broju dana</h4>
<hr>
<p>Unosom broja npr. 2 --> pretraga ce pokazati recenzije koje nisu pregledane, a poslate su 2 ili vise dana.</p>
<form method="POST" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
        {% csrf_token %}
        <input type="number" class="form-control" id="broj_dana" name="broj dana" placeholder="Upisi broj dana">
    </div>
    <button type="button" class="btn btn-outline-info" onclick="recenzijeDaniPretraga('{% url 'radovi:recenzije_dani_pretraga' %}');">Pretrazi</button>
</form>

<div class="mt-3" id="div_broj_dana" style="height:300px; overflow:scroll;">
    {% include 'radovi/recenzije_dani_pretraga.html' with prosledjeni_radovi_dani=prosledjeni_radovi_dani %}
</div>


{% load static %}
    <script src="{% static 'radovi/js/search.js' %}" type="text/javascript"></script>
{% endblock %}
