{% extends 'base.html' %}

{% block title %}
<title>Prosledjeni Radovi</title>
{% endblock %}

{% block content %}
<a href="{% url 'radovi:radovi_admin_home' %}" class="btn btn-outline-secondary">Radovi Home</a>
<h1>Prosledjeni Radovi</h1>
<hr>
<p>Ovde moze Search Ime Rada, da lakse nadje rad i pregled statistike</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Naziv rada</th>
            <th>Kategorija rada</th>
            <th>Korisnik - Ime</th>
            <th>Kada je poslat rad</th>
            <th>Recezent ocenio?</th>
            <th>Konacna ocena recenzenta</th>
            <th>Konacna odluka</th>
            <th>Vidi detalje</th>
            <th>Oduzmi rad</th>
        </tr>
    </thead>
    <tbody>
    {% for prosledjen_rad in prosledjeni_radovi %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="{% url 'radovi:naucni_rad_admin' prosledjen_rad.rad.id %}">{{ prosledjen_rad.rad.naziv }}</a></td>
            <td>{{ prosledjen_rad.rad.kategorija }}</td>
            <td>{{ prosledjen_rad.profil }}</td>
            <td>{{ prosledjen_rad.kada_poslat }}</td>

            {% if prosledjen_rad.zakljucani_odgovori %}
            <td style="color:green;">Recenzent je ocenio rad</td>

            <!-- Da bi dosli do ukupnog broja poena mora da se uporede dve tabele Profil i PrograsmkiPozivPitanja          -->
                {% for odgovor in prosledjen_rad.profil.programskipozivodgovori_set.all %}
                    {% if prosledjen_rad.rad.programski_poziv.programskipozivpitanja == odgovor.programski_poziv_pitanja %}
                        <td>{{ odgovor.ukupan_broj_poena }}</td>
                    {% else %}

                    {% endif %}
                {% endfor %}

            {% else %}
            <td style="color:red;">Recenzent nije ocenio rad</td>
            <td></td>
            {% endif %}

            {% if prosledjen_rad.rad.prihvacen_rad == None %}
            <td>Nije doneta konacna odluka</td>
            {% elif prosledjen_rad.rad.prihvacen_rad == True %}
            <td style="color:green;">Rad je prihvacen</td>
            {% else %}
            <td style="color:red;">Rad je odbijen</td>
            {% endif %}

            <td><a href="#" class="btn btn-outline-primary">Ovde</a></td>
            <td>
                <form method="POST" action="{% url 'radovi:oduzimanje_rada_admin' prosledjen_rad.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Oduzmi</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>
<hr>
<h5>Ostaje da se vidi --> </h5>
<p>Mozda ovde moze da se ubaci Search</p>
<p>Omoguciti Adminu da unese period za izvestaj</p>
<p>Spisak recenzija koje nisu uradjene odredjeni broj dana</p>


{% endblock %}
