{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% block title %}
<title>Radovi</title>
<link rel="stylesheet" href="{% static 'radovi/css/style.css' %}">
{% endblock %}

{% block content %}

<h1 class="mt-4">{% trans "Radovi" %}</h1>

<h5 class="mt-3">{% trans "Na ovoj stranici možete pristupiti" %}:</h5>
<ul class="admin-ul mt-3">
    <li><strong>{% trans "Kreiranju Radova" %} <a class="radovi-link-admin" href="{% url 'radovi:kreiraj_rad' %}">{% trans "Ovde" %}</a></strong></li>
    <li><strong>{% trans "Kreiranim Radovima i slanju Recenzentima" %} <a class="radovi-link-admin" href="{% url 'radovi:lista_radova_admin' %}">{% trans "Ovde" %}</a></strong></li>
    <li><strong>{% trans "Poslatim radovima - Pregledu ocena i konačne odluke" %}
        <a class="radovi-link-admin" href="{% url 'radovi:prosledjeni_radovi_admin' %}">{% trans "Ovde" %}</a></strong>
    </li>
</ul>

{% endblock %}
