<table class="table table-striped"> <!-- ubaci overflow -->
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Naziv rada</th>
            <th>Kategorija rada</th>
            <th>Korisnik - Ime</th>
            <th>Kada je poslat rad</th>
            <th>Recezent ocenio?</th>
            <th>Oduzmi rad</th>
        </tr>
    </thead>
    <tbody>
        {% for prosledjen_rad in prosledjeni_radovi_dani %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'radovi:naucni_rad_admin' prosledjen_rad.rad.id %}"><u>{{ prosledjen_rad.rad.naziv }}</u></a></td>
        <td>{{ prosledjen_rad.rad.kategorija }}</td>
        <td>{{ prosledjen_rad.profil }}</td>
        <td>{{ prosledjen_rad.kada_poslat }}</td>

        {% if prosledjen_rad.zakljucani_odgovori %}
        <td style="color:green">Recenzent je ocenio rad</td>
        {% else %}
        <td style="color:var(--dark-accent-color);">Recenzent nije ocenio rad</td>
        {% endif %}

        <td>
            <form method="POST" action="{% url 'radovi:oduzimanje_rada_admin' prosledjen_rad.id %}">
                {% csrf_token %}
                <button type="submit" class="admin-btn-red">Oduzmi</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

