{% extends 'base.html' %}

{% block title %}
<title>Admin Profil</title>
{% endblock title %}

{% block content %}

<h1>Admin {{ user.username }}</h1>

<a href="{% url 'admin:index' %}">Django Admin</a>
<br>
<a href="{% url 'administrator:pregled_prijava' %}">Prijave recenzenata</a>
<br>
<a href="{% url 'administrator:lista_oblasti_admin' %}">Dodaj oblast</a>
<br>
<a href="{% url 'ankete:admin_ankete' %}">Ankete</a>
<br>
<a href="{% url 'administrator:kreiraj_obavestenje' %}">Obavestenja</a>
<br>
<a href="{% url 'programski_pozivi:kreiraj_programski_poziv' %}">Programski poziv</a>
<br>
<a href="{% url 'radovi:radovi_admin_home' %}">Naucni radovi</a>

{% endblock content %}
