{% extends 'base.html' %}

{% block title %}
<title>Dodaj obavestenje</title>
{% endblock title %}

{% block content %}

<h1>Admin {{ user.username }}</h1>
<p> sada treba da iscrtam sva govna koja imaju unutar govana koja cu da pokupim</p>


<form method="POST" enctype="multipart/form-data">
    <table class="table table-bordered table-dark">
        <div class="form-group">
            {% csrf_token %}
            {{ form }}
        </div>              
    </table>    
    <button class="btn btn-secondary mt-1" type="submit">Posalji</button>
    <label style="float: right;" for="send_mail">Posalji na mail
        <input type="checkbox" name="send_mail" id="send_mail">
    </label>
    
    
</form>



{% endblock content %}