{% extends 'base_admin.html' %}
{% load i18n %}

{% block title %}
<title>{% trans 'Admin Oblasti' %}</title>
{% endblock title %}

{% block content %}

<form method="POST" class="mt-4">
  {% csrf_token %}

  <p>{% blocktrans %}Da li ste sigurni da želite da obrišete "{{ object }}" oblast?{% endblocktrans %}</p>
  <a class="btn btn-info mr-2" href="{% url 'administrator:lista_oblasti_admin' %}">{% trans 'Ne' %}</a>
  <input class="btn btn-danger" type="submit" value="{% trans 'Obriši' %}">
</form>

{% endblock content %}
