{% extends 'base_admin.html' %}

{% block title %}
<title>Prijave</title>
{% endblock title %}

{% block content %}
<style>
    .table td, .table th {
        text-align: center;
    }
    .table {
        border: 2px solid var(--cta-color);
    }
</style>
{% load static %}
<h1 class="mt-4">Pregled prijava recezenata</h1>
<h4 class="mt-4">Klikom na jedan od naslova kolona u tabeli, moguće je sortirati tabelu.</h4>
<br>
<table class="table table-striped sortable mt-1">
    <thead>
        <tr>
            <th scope="col" style="width: 50px;">#</th>
            <th scope="col" style="width: 200px;">Pregled prijave</th>
            <th style="height: 10px;" scope="col">Korisnik</th>
            <th style="height: 10px;" scope="col">Ime i prezime</th>
            <th scope="col">Stanje prijave</th>
            <th scope="col">Trenutno na recenziji</th>
        </tr>
    </thead>
    <tbody>
        {% for prijava in prijave %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td scope="row"><a
                href="{% url 'administrator:prijava_detaljno' pk=prijava.id %}">Detaljno</a></td>
            <td>{{ prijava.user.username }}</td>
            <td>{{ prijava.ime }} {{ prijava.prezime }}</td>
            <td>
                {% if prijava.user.profile_accepted %}
                <span style="color: green;">Prijava je odobrena</span>
                {% elif prijava.user.profile_accepted == False %}
                <span style="color: red;">Prijava je odbijena</span>
                {% else %}
                <span style="color: gray;">Prijava nije pregledana</span>
                {% endif %}
            </td>
            {% if prijava.prosledjenrad_set.all %}
            <td>{{ prijava.prosledjenrad_set.all|length }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock content %}
