.table td, .table th {
    text-align: center;
}

hr {
    height: 3px !important;
    border:none !important;
    background-color: var(--card-color);
}

.admin-btn-red {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 0.5rem 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-red:hover {
    background-color: var(--dark-accent-color);
    color: #fff;
}

.admin-btn-green {
    background-color: var(--cta-color); /* Green */
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-green:hover {
    background-color: var(--link-color); /* Dark Green */
    color: #fff;
}

.admin-btn-lightgreen {
    background-color: var(--card-color); /* Light Green */
    border: none;
    color: var(--primary-text);
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-lightgreen:hover {
    background-color: var(--cta-color);
    color: #fff;
}
.admin-btn-darkgreen {
    background-color: var(--link-color);
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-darkgreen:hover {
    color: #fff;
}

.admin-btn-outline-red {
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-outline-red:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.grad-btn-accept {
    text-align: center;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.grad-btn-accept:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 
.grad-btn-decline {
    text-align: center;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.grad-btn-decline:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.grad-btn-stats {
    text-align: center;
    background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.grad-btn-stats:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


@media (max-width: 580px) {
    h1 {
        text-align: center;
    }

    .table-overflow {
        overflow-x: auto;
    }

    .admin-btn-outline-red {
        margin-top: 1rem;
    }
}