{% extends 'base_profil.html' %}
{% load static %}
{% block title %}
<title>Status</title>
<link rel="stylesheet" href="{% static 'account/css/status.css' %}">
{% endblock title %}

{% block content %}

<div class="status-div">
    <div class="row">
        <h1>Trenutni status prijave</h1>
    </div>

{% if user.profile_accepted == None %}
    {% if not user.profil %}
    <div class="row">
        <a href="{% url 'profil:prijava' %}" class="btn-logout mt-5">Prijavi se za recenzenta</a>
    </div>
    {% elif user.profile_accepted == None and not user.profil.pregleda_se %}
    <div class="row">
        <h2>Vaša prijava je stigla!</h2>
    </div>    
    {% elif user.profile_accepted == None and user.profil.pregleda_se %}
    <div class="row">
        <h2>Vaša prijava se razmatra!</h2>
    </div>
    {% endif %}

{% elif user.profile_accepted %}
    <div class="row">
        <h2>Vaša prijava je prihvaćena!</h2>
    </div>
{% elif not user.profile_accepted %}
    <div class="row">
        <h2>Vaša prijava je odbijena!</h2>
    </div>
    <div class="row row-span">
        <span>Žalbu možete upitit na mail <u>portal.naucnih.radova@gmail.com</u></span>
    </div>
{% endif %}
</div>

{% endblock content %}
