{% extends 'base_profil.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Promena lozinke</title>
{% endblock title %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Promeni lozinku</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Promeni lozinku</button>
        </div>
    </form>
</div>
{% endblock content %}
