{% extends 'base_profil.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>{% trans "Promena lozinke" %}</title>
{% endblock title %}

{% block content %}
<div class="content-section mt-4">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% trans "Promeni lozinku" %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">{% trans "Promeni lozinku" %}</button>
        </div>
    </form>
</div>
{% endblock content %}
