{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Profil</title>
{% endblock %}

{% block content %}

<h1>Profil korisnika: {{ user.username }}</h1><br><br>
<h1>Status: Recezent</h1><br><br><br>


<h3>ANKETE</h3>



<p>Ovde stoje obavestenja od strane Adddmina, koja nisu poslata na email</p>
{% for anketa in ankete %}
    <table>
        {{ forloop.counter }}
        <td class="text-center">{{ anketa }}</td>
        <td class="text-center">{{ anketa.opis }}</td>
        </tbody>
    </table>
{% endfor %}
</div>
{% endblock %}
