{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %} 
{% load widget_tweaks %}
{% block title %}
<title>{% trans "Napravi Ankete" %}</title>
{% endblock %} {% block content %}
<style>
    .admin-btn-green {
    background-color: var(--cta-color); /* Green */
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-green:hover {
    background-color: var(--link-color); /* Dark Green */
    color: #fff;
}

.admin-btn-outline-green {
    background-color: var(--background-color);
    border: 1px solid var(--cta-color);
    color: var(--primary-text);
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-outline-green:hover {
    background-color: var(--cta-color);
    color: #fff;
}

@media (max-width: 580px) {
    .admin-btn-outline-green {
        margin-top: 2rem;
    }
}
</style>

<div class="row mt-3">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="">
            <div class="">
                <h3 class="">{% trans "Napravi novo pitanje" %}</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="pitanje_text">{% trans "Unesite pitanje" %}</label>
                                {% render_field form.pitanje_text class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1">{% trans "Opcija" %} 1</label>
                                {% render_field form.opcija_one class="form-control" %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2">{% trans "Opcija" %} 2</label>
                                {% render_field form.opcija_two class="form-control" %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option3">{% trans "Opcija" %} 3</label>
                                {% render_field form.opcija_three class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-6">
                            <button type="submit" class="admin-btn-green">{% trans "Napravi pitanje" %}</button>
                        </div>
                        <hr>
                        <div class="col-lg-6">
                            <a href="{% url 'ankete:admin_ankete'%}" class="admin-btn-outline-green mt-2">{% trans "Nema više pitanja" %}</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




{% endblock %}
