{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %} {% block title %}
<title>{% trans "Napravi ankete" %}</title>
{% endblock %} {% block content %}
<style>
  .admin-btn-green {
    background-color: var(--cta-color); /* Green */
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-green:hover {
    background-color: var(--link-color); /* Dark Green */
    color: #fff;
}

.admin-btn-red {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.admin-btn-red:hover {
    background-color: var(--dark-accent-color);
}
</style>


<h3 class="mt-4">{% blocktrans %}Da li ste sigurni da želite da obrišete Anketu "{{item}}"?{% endblocktrans %}</h3>

<form action="" method="post">
  {%csrf_token%}
  <a href="{%url 'ankete:admin_ankete'%}" class="admin-btn-green">{% trans "Ne želim" %}</a>
  <button type="submit" class="admin-btn-red mt-2 ml-2">{% trans "Obriši" %}</button>
</form>

{% endblock %}
