{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %} {% block title %}
<title>{% trans "Napravi Ankete" %}</title>
<link rel="stylesheet" href="{% static 'ankete/css/style.css' %}">
{% endblock %} {% block content %}

<h1 class="mt-4 mb-4">{% trans "Slanje ankete" %} '{{ anketa.naziv }}'</h1>
<a href="{% url 'ankete:admin_ankete' %}" class="admin-btn-lightgreen">{% trans "Nazad na ankete" %}</a>
<h4 class="mt-3">{% trans "Opis ankete" %}</h4>
<p class="mt-3">{{ anketa.opis }}</p>
<hr>

<h4 class="mb-3">{% trans "Izaberi oblasti" %}</h4>
<hr>
<p>{% trans "Svaki recenzent ima oblast ili oblasti stručnosti" %}</p>
<p>
  {% trans "Odabirom oblasti anketa se šalje samo recenzentima iz tih oblasti stručnosti" %}
</p>
<hr>
<form method="POST">
  {%csrf_token%} {% for oblast in oblasti %}
  <input
    type="checkbox"
    id="{{ forloop.counter }}"
    name="oblasti[]"
    value="{{ oblast }}"
  />
  <label for="{{ forloop.counter }}">{{ oblast.naziv }}</label><br />
  {% endfor %}
  <input
    class="admin-btn-green mt-2 mr-2"
    type="submit"
    name="posalji_oblast"
    value="{% trans 'Pošalji anketu po oblastima' %}"
  />
  <button class="admin-btn-outline-red" type="submit" name="posalji_svima">
    {% trans 'Pošalji svima' %}
  </button>
</form>

{% endblock %}
